{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog django v1</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>
            <a href="{% url 'home' %}">Django blog</a>
        </h1>
        <a href="{% url 'post_new' %}"> Nuevo post</a>
    </header>
    {% if user.is_authenticated %}
        <p>Epale {{ user.username }}</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>Epale no estas logged in</p>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
    <div>
        {% block content %}

        {% endblock content %}
    </div>

</body>
</html>